<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->
	<style type="text/css">
		.sorted-desc::after, .sorted-asc::after {
		    float: right;
		}
		
		.sorted-desc::after{
		    content:"\25BC";
		}
		
		.sorted-asc::after{
		    content: "\25B2";
		}
	</style>
</head>
<body>
	<div class="card">
		<div class="card-header">
		  <h4><a th:href="@{/visitors}">List of Visitor</a></h4>
		</div>
		<div class="card-body">
			<div class="table-responsive-lg">
				<table class="table table-striped table-bordered table-sm">
					<thead>
						<tr class="text-center">
							<th>Title</th>
							<th><a class="sorted" sd:pagination-sort="firstName" >First name</a></th>
							<th>Last name</th>
							<th>Gender</th>
							<th>Mobile</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="st,iter : ${visitors}">
							<td scope="st" th:text="${st.title}"></td>
							<td th:text="${st.firstName}"></td>
							<td th:text="${st.lastName}">Date</td>
							<td th:text="${st.gender}"></td>
							<td th:text="${st.mobileNo}"></td>
							<td th:text="${st.email}"></td>
						</tr>
					</tbody>
				</table>
				
				<div class="row">
				    <div class="col-sm-4">
				    	<div sd:pagination-summary="">info</div>
				    </div>
				    <div class="col-sm-4">
				    	<nav class="pull-right">
							<ul class="pagination" sd:pagination-split="7" sd:pagination="full">
								<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
							   	<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							</ul>
						</nav>
				    </div>
				    <div class="col-sm-4">
				    	<div class="btn btn-primary btn-group dropup" sd:page-size-selector="dropdown"></div>
				    </div>
				</div>
			</div>	        
		</div>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>